@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap');
:root {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    padding: 5.5rem 0;
}

.red {
    fill: rgb(131, 11, 11) !important;
}